# Содержание 

- [Markdown](#part1)
- [Математические и логические операции](#part1_1)
- [Типы данных](#part2)
   * [Списки](#part2_1)
   * [Кортеж](#part2_2)
   * [Очередь](#part2_3)
   * [Множество](#part2_4)
   * [Словарьи](#part2_5) 
   * [Строки](#part2_6)
- [Основы функций](#part3)
   * [Функции](#part3_1)
   * [Lambda-выражения](#part3_2)
   * [Рекурсия](#part3_3)
   * [Декораторы](#part3_4)
   * [Классы](#part3_5)

- [Pandas](#part4)

- [Визуализация](#part5)

# Markdown <a name="part1"></a>

В Jupyther Notebook есть несколько типов окон ввода:
    1. Code
    2. Markdown
    3. Raw NBConvert
    4. Heading
    
* (Сейчас окно ввода формата **Markdown**)


Нужный тип можно выбрать на панели выше или можно использовать горящие клавишы. Перечень горячих клавиш можно посмотреть нажав на панели задач кнопку с изображением клавиатуры.

----------------------
Для форматирования блокнота используется разметка Markdown. Все возможности разметки можно посмотреть [тут][1]

[1]: http://ilfire.ru/kompyutery/shpargalka-po-sintaksisu-markdown-markdaun-so-vsemi-samymi-populyarnymi-tegami/#link12

----------------------
Также текст можно выделять цветом:
<font color=purple>например *так* </font>
<div class="alert alert-success">
или <b>так</b>
</div>

Есть еще много различных инструментов, которые позволят сделать твой отчет в Jupyter Notebook понятным и красивым. C нимим можно познакомится, перейдя по ссылке, которая была дана выше.

# Математические операции <a name="part1_1"></a>

In [87]:
x, y,z = 5, 5, -1 # присвоение объекту значения

арифметические

In [88]:
x+y # сложение
x-y # вычитание
x/y # деление
x*y # умножение
x//y # целая часть от деления
x%y # остаток от деления
x**2 # возведение в степень
abs(x) # модуль
sum([x,y]) # сумма элементов массива

10

операции сравнения

In [89]:
x > y
x < y
x >= y
x <= y
x!=y #не равно
x == y # равно
# результа булевый тип данных True False

True

In [90]:
True or False

True

In [91]:
True | False

True

In [92]:
True and False

False

In [93]:
True & False

False

In [94]:
True and not False

True

In [95]:
True is True

True

In [96]:
True is not True

False

In [97]:
dir(True)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [116]:
False.denominator

1

# Типы данных <a name="part2"></a>

* int целочисленный  (5)
* float плавающая точка (5.5)
* str строка ('string')
* bool бинарный (True)
* datetime data

In [20]:
type(5)

int

In [21]:
type(5.5)

float

In [22]:
type('string')

str

In [19]:
type(True)

bool

In [48]:
from datetime import date
from datetime import datetime
import pandas as pd

a = pd.to_datetime('2020-01-01', format = '%Y-%m-%d')
type(a)

pandas._libs.tslib.Timestamp

In [49]:
b= datetime(2020,1,1).date()
type(b)

datetime.date

In [50]:
print(a,b)

2020-01-01 00:00:00 2020-01-01

In [51]:
a==b

False

## Список (list)  <a name="part2_1"></a>

— это структура данных, которая хранит изменяемую последовательность произвольных элементов. Элементами списка могут быть любые объекты, например: числа, строки, словари, объекты классов, сами классы и другие списки.

In [1]:
list('новый список') # создание списка из строки

['н', 'о', 'в', 'ы', 'й', ' ', 'с', 'п', 'и', 'с', 'о', 'к']

In [2]:
s = [] # создание пустого списка
l = [1,23, [], {}, "111"] # список, заполненный различным содержанием
l

[1, 23, [], {}, '111']

In [3]:
s.append(1) # добавление в конец списка
print('s:',s)
print('l:',l)

l[1] # взять элемент из списка L по индексу 1

s: [1]
l: [1, 23, [], {}, '111']

23

In [4]:
s.extend(l) #объединение списков
s

[1, 1, 23, [], {}, '111']

In [5]:
len(l) # длина списка l

5

In [6]:
l[4] = "omg" # присвоить значение элементу списка
l

[1, 23, [], {}, 'omg']

In [7]:
l.pop(2) # удалить из списка элемент по индексу и вернуть его
l

[1, 23, {}, 'omg']

In [8]:
l[1:3]

[23, {}]

In [9]:
print(l)
l[::-1] #разворот списка

[1, 23, {}, 'omg']

['omg', {}, 23, 1]

In [10]:
my_list = [1,{}, '3', 4, 5]
my_list.reverse() #еще один способ
print(my_list)

[5, 4, '3', {}, 1]

***Генераторы списков***

List Comprehensions — это синтаксический сахар Python, который позволяет удобно генерировать новые списки:

In [11]:
squares = [x ** 2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Функция range(start, stop, step) — это стандартная функция Python, которая позволяет генерировать последовательность чисел. Range принимает три параметра: start, stop, step, где start — начало последовательности, stop — конец последовательности и step — шаг. По умолчания start = 0, step = 1.


Как и в обычных циклах for, внутри list comprehensions можно использовать условия с применением условных выражений if - elif - else:

In [12]:
odds = [x for x in range(10) if x % 2 != 0]

In [13]:
[x ** 2 if x % 2 == 0 else x ** 3 for x in range(10)]

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [14]:
second = [(x, y) for x in range(1, 5) for y in range(5, 1, -1) if x != y]
second

[(1, 5),
 (1, 4),
 (1, 3),
 (1, 2),
 (2, 5),
 (2, 4),
 (2, 3),
 (3, 5),
 (3, 4),
 (3, 2),
 (4, 5),
 (4, 3),
 (4, 2)]

Бинарный Поиск со списками

In [7]:
def BinarySearch(lys, val):
    first = 0
    last = len(lys)-1
    index = -1
    while (first <= last) and (index == -1):
        mid = (first+last)//2
        if lys[mid] == val:
            index = mid
        elif val<lys[mid]:
            last = mid -1
        else:
            first = mid +1
    return index

## Кортеж (tuple) <a name = "part2_2"></a>

, как и список, — это структура данных, которая хранит неизменяемую последовательность произвольных элементов. 

В отличие от списка, элементы кортежа должны быть определены во время его создания, следовательно, кортежи не поддерживают динамическое добавление и удаление элементов:

In [16]:
a = [1,2,3]
b = (1,2,3)
print('a =',a)
print('b = ',b)
print('a[0] =',a[0])
print('b[0] =',b[0])
a[0]=5
b[0]=b

a = [1, 2, 3]
b =  (1, 2, 3)
a[0] = 1
b[0] = 1

TypeError: 'tuple' object does not support item assignment

In [17]:
del a[0]
a

[2, 3]

In [18]:
del b[0]

TypeError: 'tuple' object doesn't support item deletion

**Именованные кортежи (namedtuple)** — это подкласс обычных кортежей, их удобство заключается в двух вещах:

они неизменяемые, так же как и обычные кортежи и имеют все их свойства;

каждый элемент кортежа доступен по уникальному строковому идентификатору.

In [19]:
from collections import namedtuple
Car = namedtuple('Car' , 'color speed')
my_car = Car('red', 200)
my_car

Car(color='red', speed=200)

In [20]:
my_car.color

'red'

In [21]:
my_car.speed

200

In [22]:
my_car[0]

'red'

In [23]:
tuple(my_car)

('red', 200)

### Полезно почитать 

[Тут написано проразницу между списками  кортежами][1]

[Более подробно об операциях над списками и другими типами данных можно узнать тут][2]

[1]:https://habr.com/ru/post/417783/
[2]:https://docs.python.org/3/tutorial/datastructures.html

## Очередь <a name= "part2_3"></a>

**Deque** — это структура данных, которая реализует двустороннюю очередь.
Она поддерживает добавление и удаление элементов с любого конца за время O(1):

In [24]:
import collections
de = collections.deque([1,2,3])
de

deque([1, 2, 3])

In [25]:
de.append(4)
de

deque([1, 2, 3, 4])

In [26]:
de.appendleft(6)
de

deque([6, 1, 2, 3, 4])

In [27]:
de.pop()

4

In [28]:
de.pop()

3

In [29]:
de.popleft()

6

In [30]:
de.popleft()

1

In [31]:
de

deque([2])

Объекты deque в Python реализованы в виде двусвязных списков, что дает им отличную производительность для постановки в очередь и удаления из очереди, но низкую производительность O(n) для произвольного доступа к элементам в середине очереди.

Поскольку deque одинаково хорошо поддерживает добавление и удаление элементов с обоих концов, на практике их удобно использовать для реализации очередей (FIFO — первый вошел, первый вышел) и стеков (FILO — первый вошел, последний вышел).

## Множество (Set) <a name="part2_4"><a\>

— это структура данных, которая хранит неупорядоченные уникальные хешируемые элементы.

In [32]:
s = set() # создание пустого множества
s

set()

In [33]:
s = set((1,2,3,4,5)) # cоздание множества из кортежа
s = set([1,2,3,4,5]) # создание множества из списка
s = {1, 2, 3, 4, 5} # еще вариант создания множества
s

{1, 2, 3, 4, 5}

In [34]:
s = {1, 2, 3, 4, 5, "test", ()}
s

{1, 2, 3, 4, 5, 'test', ()}

In [35]:
s.add("new test") # добавление нового элемента
s

{1, 2, 3, 4, 5, 'new test', 'test', ()}

In [36]:
s.add(3) # после добавления 3 все осталось без изменений
s

{1, 2, 3, 4, 5, 'new test', 'test', ()}

In [37]:
s.add([]) # нельзя добавить список, тк он нехешируемый

TypeError: unhashable type: 'list'

In [38]:
s.discard(3) # удаление элемента из множества
s

{1, 2, 4, 5, 'new test', 'test', ()}

In [39]:
first_part = set((1,2,3,4,5))
second_part = set((6,7,8,9,10))
first_part.union(second_part) # объединение двух множеств

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
first_part.intersection(second_part) # пересечение двух множеств

set()

In [41]:
first_part

{1, 2, 3, 4, 5}

*Set Comprehensions* — как и при генерации списков, Python поддерживает синтаксический сахар для генерации множеств:

In [42]:
{s for s in [1, 2, 1, 0]}

{0, 1, 2}

In [43]:
{s**2 for s in [1, 2, 1, 0]}

{0, 1, 4}

In [44]:
{s**2 for s in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

Также можно использовать выражение if-elif-else:

In [45]:
{s for s in [1, 2, 3] if s % 2}

{1, 3}

Использовать несколько циклов for:

In [46]:
{(m, n) for n in range(2) for m in range(3, 5)}

{(3, 0), (3, 1), (4, 0), (4, 1)}

**Frozen Set**

Неизменяемая версия множеств — уникальный и хешируемый набор элементов в структуре, так же, как и в обычном множестве. Отличается отсутствием возможности добавить или удалить новый элемент.

In [47]:
a = frozenset((1,2,3))
a

frozenset({1, 2, 3})

In [48]:
a.add(2) # ошибка

AttributeError: 'frozenset' object has no attribute 'add'

### Полезно почитать 

[Более подробно об операциях над множествами можно узнать тут][1]
[1]:https://docs.python.org/2/library/sets.html

## Словари, OrderedDict, DefaultDict <a name="part2_5"></a>

**Словарь (Dict)** — это структура данных, которая хранит элементы по принципу ключ-значение.

 Словарь в Python является реализацией абстрактной структуры данных — хеш-таблица.

In [49]:
d = {} # создание словаря
d = {"a":1, "abc":2}
d

{'a': 1, 'abc': 2}

In [50]:
d.clear() # очистка словаря
d

{}

In [51]:
d = dict([(1,2), (3,4)]) # еще одна возможность создать словарь
d

{1: 2, 3: 4}

In [52]:
d[1] # взять элемент словаря по ключу

2

In [53]:
d[5] # ошибка, если такого ключа нет

KeyError: 5

In [54]:
d[7] = 15 # добавление нового ключа
d

{1: 2, 3: 4, 7: 15}

In [55]:
d[(1,2)] = 144 # добавление нового ключа, в качестве которого используется кортеж
d

{1: 2, 3: 4, 7: 15, (1, 2): 144}

In [56]:
d[[1]] = 5 # ошибка, т.к. список не может быть ключом словаря

TypeError: unhashable type: 'list'

In [57]:
d.items() # показать пары ключ / значение

dict_items([(1, 2), (3, 4), (7, 15), ((1, 2), 144)])

In [58]:
d.keys() # Ключи

dict_keys([1, 3, 7, (1, 2)])

In [59]:
d.values() # Значения

dict_values([2, 4, 15, 144])

Dict Comprehensions — аналогично с list, set существует семантический сахар и для создания словарей.

In [60]:
d = {a: a ** 2 for a in range(7)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [61]:
d.get(6)

36

**OrderedDict**
Подкласс словаря, в котором хранится порядок добавления ключей в словарь.

Удобно использовать, когда нужно не только получать значения по ключу, но и время от времени итерироваться по структуре, зная, что вначале идут более ранние значения, а в конце более поздние:

In [62]:
import collections
d = collections.OrderedDict(one=1, two=2, three=3)
d

OrderedDict([('one', 1), ('two', 2), ('three', 3)])

In [63]:
d['four'] = 4
d

OrderedDict([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

**DefaultDict**
Подкласс словаря, особенностью которого является возможность задать значение по умолчанию, которое будет возвращено в случае обращения к словарю по ключу, который отсутствует.

In [64]:
from collections import defaultdict
dd = defaultdict(list)
# Accessing a missing key creates it and initializes it
# using the default factory, i.e. list() in this example:
dd['dogs'].append('Rufus')
dd['dogs'].append('Kathrin')
dd['dogs'].append('Mr Sniffles')
dd['dogs']

['Rufus', 'Kathrin', 'Mr Sniffles']

In [65]:
dd

defaultdict(list, {'dogs': ['Rufus', 'Kathrin', 'Mr Sniffles']})

In [66]:
import sys
sys.getsizeof(dd) # размер объекта в байтах

248

In [67]:
sys.getsizeof([1,2,3,4,5])

104

In [68]:
sys.getsizeof((1,2,3,4,5))

88

### Полезно почитать 

[Более подробное описание операций над словарями можно посмотреть тут][1]
[1]:https://docs.python.org/3/tutorial/datastructures.html

In [15]:
BinarySearch(['Аня', 'Вика', 'Лена', 'Настя'], 'Настя')

3

## Строки <a name = 'part2_6'></a>

In [3]:
simple_str = '  Просто   строка  '

In [4]:
dir(simple_str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [17]:
print(simple_str.split(' '))
simple_str

['', '', 'Просто', '', '', 'строка', '', '']

'  Просто   строка  '

In [21]:
','.join(simple_str.split(' '))

',,Просто,,,строка,,'

In [25]:
print('просто строка'.capitalize())

Просто строка

In [27]:
print('Просто строка'.casefold())

просто строка

In [29]:
'123'.isnumeric()

True

[Подробнее про строки][1]
[1]:https://docs.python.org/3/library/string.html

Главная страница » Вопросы с собеседования » Строки » Сравнение строк в Python
Сравнение строк в Python
СТРОКИ
В Python строка – это последовательность символов, причем отдельный символ тоже считается строкой. Все символы имеют разные значения Unicode или ASCII.

Строки в Python можно сравнивать. При этом, по сути, сравниваются их символы. Сравнение происходит последовательно: первый символ одной строки сравнивается с первым символом другой. Если они равны, сравниваются символы на следующей позиции.

Следует учитывать, что компьютер сравнивает не символы как таковые, а их значения в Unicode. Чем больше это значение, тем «больше» символ.

In [349]:
'1' < '2'

True

 ------------

# Основы функций <a name="part3"></a>

## Функция  <a name="part3_1"></a>

— это блок организованного, многократно используемого кода, который используется для выполнения одного связанного действия. Функции обеспечивают модульность и высокую степень повторного использования кода.


Существуют встроенные функции Python — print(), len(), str() и т.д., и пользовательские

In [69]:
def factorial(number): # без рекурсии

    if number <0:
        return print('Упс, число меньше нуля')
    elif  number == 1 or number ==0:
        return 1
    else:
        f = 1
        while number!=1:
            f*=number
            number-=1
        return f

In [70]:
def factorial_r(number): # с рекурсией

    if number <0:
        return print('Упс, число меньше нуля')
    elif  number == 1 or number ==0:
        return 1
    else:
        return number*(factorial(number-1))

In [71]:
factorial(5)

120

In [72]:
sys.getsizeof(factorial(1))

28

In [73]:
factorial_r(5)

120

In [74]:
sys.getsizeof(factorial_r(1))

28

**Изменяемое число аргументов — \*args, \*\*kwargs**
\*args — для неименованных аргументов.

\*\*kwargs — для именованных аргументов.

Такой подход применяется, когда количество аргументов в функции заранее неизвестно.

**\*args** — в этом случае переменные передаются как кортеж и доступны под тем именем, что указано при объявлении аргумента.

In [75]:
def summator(*nums):
    sum = 0
    for n in nums:
        sum += n
    print(sum)
summator(3, 5)
summator(4, 5, 6, 7)
summator(1, 2, 3, 5, 6)

8
22
17

**\*\*kwargs** — в этом случае переменные передаются как словарь и доступны под тем именем, что указано при объявлении аргумента.

In [76]:
def inside_kwargs(**kwargs):
    print("kwargs type is", type(kwargs))
    for key, value in kwargs.items():
        print(key, value)
inside_kwargs(one=1, two=2, three=3)

kwargs type is <class 'dict'>
one 1
two 2
three 3

\*args, \*\*kwargs — устоявшиеся названия переменных для передачи неизвестного количества переменных в функцию, но именовать их именно так не обязательно.

\*args, \*\*kwargs можно комбинировать, но в таком случае порядок важен и первым идет \*args, затем \*\*kwargs.

## Lambda-выражения <a name='part3_2'></a>

Lambda-выражения — это синтаксический сахар в Python, необходимый для создания анонимных / lambda функций.

In [77]:
f = lambda x: x + 1

In [78]:
f(2)

3

In [79]:
colors = ["Goldenrod", "purple", "Salmon", "turquoise", "cyan"]
print(sorted(colors, key=lambda s: s.casefold()))

['cyan', 'Goldenrod', 'purple', 'Salmon', 'turquoise']

**map()**

In [32]:
simple_list = range(10)

square_2 = lambda x: 2**x

list(map(square_2,simple_list))

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

### Рекурсия <a name='part3_3'></a>

Рекурсия — это вызов функции самой себя. Особенностью рекурсии является базовое условие — это условие, которое завершит цикл, если оно выполнено, в этом случае рекурсивная функция завершает свою работу.

In [80]:
def getTotal(n, total):
    print(n)
    if n == 0: # базовое условие
        return total
    else:
        return getTotal(n-1, (total+(n)))

print(getTotal(5, 0))

5
4
3
2
1
0
15

В python есть возможность задать лимит на количество вызовов рекурсивной функции:

In [81]:
sys.setrecursionlimit(10**6)

## Декораторы <a name='part3_4'>

**Декоратор** — это в первую очередь структурный шаблон проектирования, предназначенный для динамического подключения дополнительного поведения к объекту.

В Python этот механизм вынесен на уровень синтаксического сахара благодаря нескольким особенностям языка.

* Функция - это объект, ее можно присвоить переменной:

In [82]:
def example_function(param1 = "test"):
    return param1

print(example_function())

variable = example_function
print(variable())

test
test

* Функция может быть определена внутри другой функции:

In [83]:
def example_function():
    def under_function(param1):
        return(param1)
    print(under_function("test"))
    
example_function()

test

* Функция может вернуть функцию как результат своей работы:

In [84]:
def example_function():
    def under_function(param1):
        return(param1)
    return under_function
variable = example_function()
print(variable("test"))

test

* Функция может принимать другую функцию в качестве входного параметра:

In [85]:
def print_func():
    print("i am just printing")

def example_function(func):
    print("print before func")
    func()
    print("print after func")
example_function(print_func)

print before func
i am just printing
print after func

Комбинируя вышеперечисленные особенности, можно создать "свой" декоратор, не прибегая к сахару Python:

In [86]:
def self_decorator(function_to_decorate):
    def wrap_original_function(): # объявляем вложенную функцию
        print("before")
        function_to_decorate() # вызываем оригинальную функцию
        print("after")
    return wrap_original_function # возвращаем функцию в качестве результата работы
def easy_function(): # определяем простую функцию
    print("i am just printinng this")
decorated_function = self_decorator(easy_function) # декорируем функцию
decorated_function()

before
i am just printinng this
after

Но, используя синтаксис декораторов, можно переписать предыдущий пример более коротко:

In [87]:
def self_decorator(function_to_decorate):
    def wrap_original_function(): # объявляем вложенную функцию
        print("before")
        function_to_decorate() # вызываем оригинальную функцию
        print("after")
    return wrap_original_function # возвращаем функцию в качестве результата работы

@self_decorator
def easy_function():
    print("i am just printing this")
easy_function()

before
i am just printing this
after

Декоратор считающий время выполнения функции

In [90]:
from IPython.core.interactiveshell import InteractiveShell # настройки вывода
InteractiveShell.ast_node_interactivity = "all"

In [92]:
import time 

def time_decorator(func):
    def _inner(*args, **kwargs):
        start = time.time()
        result = func(*args, **kwargs)
        finish = time.time()
        print('time =',"{:e}".format(finish-start))
        return result
    return _inner

In [93]:
def factorial_r(number): # с рекурсией
    if number <0:
        return print('Упс, число меньше нуля')
    elif  number == 1 or number ==0:
        return 1
    else:
        return number*(factorial_r(number-1))  
    
memo_dict ={0:1}

def memo_factorial(number):
    if number in memo_dict.keys():
        return memo_dict[number]
    else:
        result = factorial_r(number)
        memo_dict[number] = result
        return result

In [94]:
factorial_r(5)

120

In [95]:
@time_decorator
def main(n,choice_algorithm = 'memo'):
    if choice_algorithm =='memo':
        print('run memo')
        result = memo_factorial(n)
    else:
        print('run naive')
        result = factorial_r(n)
    print('factorial =',result)

In [98]:
main(2, choice_algorithm = 'memo')

run memo
factorial = 2
time = 1.000643e-03

In [99]:
memo_dict

{0: 1, 2: 2}

# Классы <a name='part3_5'></a>

Объектно-ориентированное программирование — это парадигма разработки ПО, которая структурирует программу таким образом, что поведение и свойства сущностей объединяются в классы, конкретными реализациями которых являются объекты.

Например: парковка с различными средствами передвижения. Класс — авто, класс — мотоцикл, у них есть свойства: марка, цвет, местоположение на парковке, есть поведение: начать движение, остановиться и т.д. Конкретные объекты этих классов — синий «Мерседес» на месте 11а или черный мотоцикл «Хонда» на месте 42б. 

Python является языком со множеством парадигм, помимо ООП, можно структурировать программы по методу процедурного программирования. Все зависит от технических требований к продукту.

Для простейших вещей, например, таких как числа, строки и более сложные - списки, словари и т.д. в Python реализованы собственные классы. Важно отметить, что класс представляет собой шаблон для создания объектов, обеспечивающий начальные значения состояний: инициализация полей-переменных и реализация поведения функций или методов.

Объекты (инстанс или экземпляр класса) 

Это уже конкретная реализация класса, заполненная пользовательскими данными и имеющая поведение, описанное в классе.

Например, dict, заполненный несколькими значениями — это конкретный объект соответствующего класса, другой dict с другим набором значений — другой объект.

In [119]:
class Book:
    pass # заглушка для пустых классов

In [126]:
# класс книга
class Book:
    type_element = 'Книга' # атрибут который свойственен всем объектам класса
    def __init__(self,name,author):
        self.name = name #создание атрибута объекта.
        self.author = author #создание атрибута объекта.

In [127]:
a = Book('Изучаем Python','Эрик Мэтиз')
b = Book('Грокаем алгоритмы','Адитья Бхаргава')

In [128]:
a.name

'Изучаем Python'

In [130]:
a.author

'Эрик Мэтиз'

Собственно говоря, создание объекта в Python происходит в два этапа:

Создание объекта — магический метод __new__().
Инициализация объекта с новыми атрибутами — магический метод __init__().
Абстрактно это выглядит так:

class Foo:
def __new__(cls):
    return super().__new__(cls)

def __init__(self):
    pass

Внутри метода \_\_new\_\_() средствами return вызывает создание объекта класса, посредством обращения к методу \_\_new\_\_() базового класса object, который является базовым классом для всех пользовательских классов в Python.

Затем вызывается метод \_\_init\_\_(), в котором уже происходит создание атрибутов объекта, как в примере с классом Book.

Обычно на практике метод \_\_new\_\_() переопределять не нужно, т.к. хватает реализации метода new() класса object. Просто нужно знать, что он всегда вызывается, и держать это в голове.

* [магические методы статья][1]
* [руководство][2]

[1]:[https://habr.com/ru/post/186608/]
[2]:[https://rszalski.github.io/magicmethods/]

Методы объекта
Как говорилось выше, в классах можно не только описывать атрибуты объекта, но и определять его поведение, которое производит определенные действия над этими атрибутами. Такие действия называются методами объекта.

Так \_\_init\_\_() — это метод при котором объекту добавляются новые атрибуты:

In [352]:
class Book:
    type_element = 'Книга' # атрибут который свойственен всем объектам класса
    def __init__(self,name,author):
        self.name = name #создание атрибута объекта.
        self.author = author #создание атрибута объекта.
        
    def __eq__(self, other):  # магический метод сравнения ==
        if not isinstance(other, Book):
            # don't attempt to compare against unrelated types
            return NotImplemented

        return self.name == other.name and self.author == other.author

    def print_book(self): # метод
            print(f'{self.name} {self.author}') # метод выводт название книги и автора

    def set_year(self, year):
        self.year = year # Добавление атрибута

In [295]:
Book('Изучаем Python','Эрик Мэтиз')==Book('Изучаем Python','Эрик Мэтиз')

True

In [296]:
a = Book('Изучаем Python','Эрик Мэтиз')
b = Book('Грокаем алгоритмы','Адитья Бхаргава')

In [297]:
a.name

'Изучаем Python'

In [298]:
a.type_element

'Книга'

In [299]:
a.set_year(2020)

In [300]:
a.year

2020

Попробуем реализовать класс Книжная полка

* у полки есть размер (например максимальное количество книг 5)
* должна быть возможность:
    - посмотреть размер полки, 
    - количество занятых мест, 
    - свободных,
    - добавлять объекты на полку
    - удалять
    - вывести список книг на полке

In [301]:
import pandas as pd
class Shelf:
    """ """
    def __init__(self, size):
        self.size = size
        self.books_list = []
        
    def add_book(self, book):
        self.book = book
        if len(self.books_list) == self.size:
            print('На полке нет места')
        elif len(self.books_list) < self.size:                
            self.books_list.append(book)
    def del_book(self,book):
        if book in self.books_list:
            self.books_list.remove(book)
        else:
            print('Такой книги нет')
            
    def show(self):
        dict_shelf = {}
        for i in self.books_list:
            if f'{i.name} {i.author}' not in dict_shelf.keys():
                dict_shelf[f'{i.name} {i.author}'] = 1
            else:
                dict_shelf[f'{i.name} {i.author}'] +=1
        return pd.Series(data = dict_shelf)
    
    def free(self):
        print(f'занято {len(self.books_list)} из {self.size}')

In [302]:
l = [1,2,3]
dir(l)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [319]:
shelf_1= Shelf(5)

In [320]:
a = Book('Изучаем Python','Эрик Мэтиз')
b = Book('Грокаем алгоритмы','Адитья Бхаргава')

In [321]:
shelf_1.add_book(a)
shelf_1.add_book(b)

In [322]:
shelf_1.show()

Грокаем алгоритмы Адитья Бхаргава    1
Изучаем Python Эрик Мэтиз            1
dtype: int64

In [323]:
shelf_1.free()

занято 2 из 5

In [324]:
shelf_1.add_book(a)

In [325]:
shelf_1.add_book(a)

In [326]:
shelf_1.add_book(a)

In [327]:
shelf_1.add_book(b)

На полке нет места

In [328]:
shelf_1.free()

занято 5 из 5

In [329]:
shelf_1.show()

Грокаем алгоритмы Адитья Бхаргава    1
Изучаем Python Эрик Мэтиз            4
dtype: int64

In [330]:
shelf_1.add_book(a)

На полке нет места

In [331]:
shelf_1.del_book(Book('Изучаем Python','Эрик Мэтиз'))

In [332]:
shelf_1.show()

Грокаем алгоритмы Адитья Бхаргава    1
Изучаем Python Эрик Мэтиз            3
dtype: int64

In [333]:
shelf_1.free()

занято 4 из 5

In [351]:
dir(shelf_1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add_book',
 'book',
 'books_list',
 'del_book',
 'free',
 'show',
 'size']

# Pandas <a name="part4"></a>

* DataFrame - двумерный массив данных
* Series - одномерный массив данных с индексацией

В pandas можно открыть данные разных форматов:
* .read_csv('data.csv') 
* .read_json('data.json')
* .read_html(url) # url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list"
* .read_excel('data.xlsx')
* .read_pickle("foo.pkl")

и др.

Записать данные в файлы разных форматов по аналогии 
* df.to_csv('data.csv') и т.д.

[Документация pandas][1]
[1]:[https://pandas.pydata.org/docs/index.html]

In [46]:
#импортируем библиотеки numpyи pandas
import numpy as np 
import pandas as pd

#импортируем библиотеку datetime для работы с датами 
import datetime as dt
from datetime import datetime, date

#Задаем некоторые опции библиотеки pandas, которые настраивают вывод 
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', None)

#импортируем библиотеки matplotlib и seaborn для построения графиков
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

Возможности pandas на примерах

[описание данных можно найти тут][1]
[1]:[https://github.com/mwaskom/seaborn-data]

In [76]:
taxis = sns.load_dataset("taxis")

In [77]:
taxis.head(10)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
5,2019-03-11 10:37:23,2019-03-11 10:47:31,1,0.49,7.5,2.16,0.0,12.96,yellow,credit card,Times Sq/Theatre District,Midtown East,Manhattan,Manhattan
6,2019-03-26 21:07:31,2019-03-26 21:17:29,1,3.65,13.0,2.00,0.0,18.80,yellow,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
7,2019-03-22 12:47:13,2019-03-22 12:58:17,0,1.40,8.5,0.00,0.0,11.80,yellow,NaN,Murray Hill,Flatiron,Manhattan,Manhattan
8,2019-03-23 11:48:50,2019-03-23 12:06:14,1,3.63,15.0,1.00,0.0,19.30,yellow,credit card,East Harlem South,Midtown Center,Manhattan,Manhattan
9,2019-03-08 16:18:37,2019-03-08 16:26:57,1,1.52,8.0,1.00,0.0,13.30,yellow,credit card,Lincoln Square East,Central Park,Manhattan,Manhattan

In [78]:
taxis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
pickup             6433 non-null object
dropoff            6433 non-null object
passengers         6433 non-null int64
distance           6433 non-null float64
fare               6433 non-null float64
tip                6433 non-null float64
tolls              6433 non-null float64
total              6433 non-null float64
color              6433 non-null object
payment            6389 non-null object
pickup_zone        6407 non-null object
dropoff_zone       6388 non-null object
pickup_borough     6407 non-null object
dropoff_borough    6388 non-null object
dtypes: float64(5), int64(1), object(8)
memory usage: 703.7+ KB

In [86]:
for i in ['payment','pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough']:
    print(i)
    print(taxis[i].unique())
    print()

payment
['credit card' 'cash' nan]

pickup_zone
['Lenox Hill West' 'Upper West Side South' 'Alphabet City' 'Hudson Sq'
 'Midtown East' 'Times Sq/Theatre District' 'Battery Park City'
 'Murray Hill' 'East Harlem South' 'Lincoln Square East'
 'LaGuardia Airport' 'Lincoln Square West' 'Financial District North'
 'Upper West Side North' 'East Chelsea' 'Midtown Center' 'Gramercy'
 'Penn Station/Madison Sq West' 'Sutton Place/Turtle Bay North'
 'West Chelsea/Hudson Yards' 'Clinton East' 'Clinton West'
 'UN/Turtle Bay South' 'Midtown South' 'Midtown North' 'Garment District'
 'Lenox Hill East' 'Flatiron' 'TriBeCa/Civic Center' nan
 'Upper East Side North' 'West Village' 'Greenwich Village South'
 'JFK Airport' 'East Village' 'Union Sq' 'Yorkville West' 'Central Park'
 'Meatpacking/West Village West' 'Kips Bay' 'Morningside Heights' 'Astoria'
 'East Tremont' 'Upper East Side South' 'Financial District South'
 'Bloomingdale' 'Queensboro Hill' 'SoHo' 'Brooklyn Heights'
 'Yorkville East' 'Manhattan Valley' 'DUMBO/Vinegar Hill'
 'Little Italy/NoLiTa' 'Mott Haven/Port Morris' 'Greenwich Village North'
 'Stuyvesant Heights' 'Lower East Side' 'East Harlem North' 'Chinatown'
 'Fort Greene' 'Steinway' 'Central Harlem' 'Crown Heights North' 'Seaport'
 'Two Bridges/Seward Park' 'Boerum Hill' 'Williamsburg (South Side)'
 'Rosedale' 'Flushing' 'Old Astoria' 'Soundview/Castle Hill'
 'Stuy Town/Peter Cooper Village' 'World Trade Center' 'Sunnyside'
 'Washington Heights South' 'Prospect Heights' 'East New York'
 'Hamilton Heights' 'Cobble Hill' 'Long Island City/Queens Plaza'
 'Central Harlem North' 'Manhattanville' 'East Flatbush/Farragut'
 'Elmhurst' 'East Concourse/Concourse Village' 'Park Slope' 'Greenpoint'
 'Williamsburg (North Side)' 'Long Island City/Hunters Point'
 'South Ozone Park' 'Ridgewood' 'Downtown Brooklyn/MetroTech'
 'Queensbridge/Ravenswood' 'Williamsbridge/Olinville' 'Bedford' 'Gowanus'
 'Jackson Heights' 'South Jamaica' 'Bushwick North' 'West Concourse'
 'Queens Village' 'Windsor Terrace' 'Flatlands' 'Van Cortlandt Village'
 'Woodside' 'East Williamsburg' 'Fordham South' 'East Elmhurst'
 'Kew Gardens' 'Flushing Meadows-Corona Park' 'Marine Park/Mill Basin'
 'Carroll Gardens' 'Canarsie' 'East Flatbush/Remsen Village' 'Jamaica'
 'Marble Hill' 'Bushwick South' 'Erasmus' 'Claremont/Bathgate' 'Pelham Bay'
 'Soundview/Bruckner' 'South Williamsburg' 'Battery Park' 'Forest Hills'
 'Maspeth' 'Bronx Park' 'Starrett City' 'Brighton Beach' 'Brownsville'
 'Highbridge Park' 'Bensonhurst East' 'Mount Hope'
 'Prospect-Lefferts Gardens' 'Bayside' 'Douglaston' 'Midwood'
 'North Corona' 'Homecrest' 'Westchester Village/Unionport'
 'University Heights/Morris Heights' 'Inwood' 'Washington Heights North'
 'Flatbush/Ditmas Park' 'Rego Park' 'Riverdale/North Riverdale/Fieldston'
 'Jamaica Estates' 'Borough Park' 'Sunset Park West' 'Belmont' 'Auburndale'
 'Schuylerville/Edgewater Park' 'Co-Op City' 'Crown Heights South'
 'Spuyten Duyvil/Kingsbridge' 'Morrisania/Melrose' 'Hollis' 'Parkchester'
 'Coney Island' 'East Flushing' 'Richmond Hill' 'Bedford Park' 'Highbridge'
 'Clinton Hill' 'Sheepshead Bay' 'Madison' 'Dyker Heights'
 'Cambria Heights' 'Pelham Parkway' 'Hunts Point' 'Melrose South'
 'Springfield Gardens North' 'Bay Ridge' 'Elmhurst/Maspeth'
 'Crotona Park East' 'Bronxdale' 'Briarwood/Jamaica Hills'
 'Van Nest/Morris Park' 'Murray Hill-Queens' 'Kingsbridge Heights'
 'Whitestone' 'Saint Albans' 'Allerton/Pelham Gardens' 'Howard Beach'
 'Norwood' 'Bensonhurst West' 'Columbia Street' 'Middle Village'
 'Prospect Park' 'Ozone Park' 'Gravesend' 'Glendale' 'Kew Gardens Hills'
 'Woodlawn/Wakefield' 'West Farms/Bronx River' 'Hillcrest/Pomonok']

dropoff_zone
['UN/Turtle Bay South' 'Upper West Side South' 'West Village'
 'Yorkville West' 'Midtown East' 'Two Bridges/Seward Park' 'Flatiron'
 'Midtown Center' 'Central Park' 'Astoria' 'Manhattan Valley'
 'Times Sq/Theatre District' 'Clinton East' 'Meatpacking/West Village West'
 'East Harlem South' 'East Chelsea' 'Kips Bay' 'Murray Hill'
 'Sutton Place/Turtle Bay North' 'Midtown North' 'Gramercy' 'Midtown South'
 'Seaport' 'Lenox Hill West' 'East Harlem North' 'Garment District'
 'West Chelsea/Hudson Yards' 'Clinton West' 'Lenox Hill East'
 'Carroll Gardens' nan 'Washington Heights South' 'Battery Park City'
 'Penn Station/Madison Sq West' 'Union Sq' 'Sunnyside'
 'Lincoln Square West' 'Upper East Side North' 'Financial District North'
 'Lower East Side' 'Yorkville East' 'Upper West Side North'
 'Jackson Heights' 'Upper East Side South' 'Chinatown'
 'Stuy Town/Peter Cooper Village' 'Morningside Heights'
 'Lincoln Square East' 'Little Italy/NoLiTa' 'Downtown Brooklyn/MetroTech'
 'DUMBO/Vinegar Hill' 'Greenwich Village South' 'LaGuardia Airport'
 'East Village' 'JFK Airport' 'Marble Hill' 'Greenwich Village North'
 'Williamsburg (North Side)' 'Brooklyn Heights'
 'Riverdale/North Riverdale/Fieldston' 'Steinway' 'Sheepshead Bay'
 'Crown Heights North' 'TriBeCa/Civic Center' 'Midwood' 'Alphabet City'
 'Boerum Hill' 'Financial District South' 'Cypress Hills' 'Park Slope'
 'Central Harlem' 'North Corona' 'Greenpoint'
 'Long Island City/Hunters Point' 'Hillcrest/Pomonok' 'Bloomingdale'
 'Baisley Park' 'Crown Heights South' 'Soundview/Castle Hill'
 'World Trade Center' 'Randalls Island' 'Melrose South' 'Columbia Street'
 'Williamsburg (South Side)' 'SoHo' 'Hudson Sq' 'Fort Greene' 'Cobble Hill'
 'Clinton Hill' 'Central Harlem North' 'East Flushing' 'Old Astoria'
 'Forest Hills' 'Briarwood/Jamaica Hills' 'East New York' 'Ridgewood'
 'Elmhurst' 'East Williamsburg' 'Williamsbridge/Olinville'
 'University Heights/Morris Heights' 'Bushwick South'
 'Flushing Meadows-Corona Park' 'Long Island City/Queens Plaza'
 'Manhattanville' 'Elmhurst/Maspeth' 'Inwood' 'Woodhaven'
 'Hamilton Heights' 'Middle Village' 'Prospect Heights' 'Richmond Hill'
 'Mount Hope' 'Bushwick North' 'Canarsie' 'Gowanus'
 'Washington Heights North' 'Westchester Village/Unionport'
 'Queens Village' 'Woodside' 'Bedford' 'Highbridge' 'Stuyvesant Heights'
 'Queensbridge/Ravenswood' 'East Flatbush/Farragut'
 'Mott Haven/Port Morris' 'Prospect-Lefferts Gardens' 'Sunset Park West'
 'South Jamaica' 'Howard Beach' 'South Williamsburg' 'Woodlawn/Wakefield'
 'Rego Park' 'West Concourse' 'Manhattan Beach' 'Battery Park' 'Bronxdale'
 'West Brighton' 'Flatlands' 'Glendale' 'East Concourse/Concourse Village'
 'Ozone Park' 'South Ozone Park' 'Norwood' 'Parkchester' 'East Tremont'
 'Douglaston' 'Windsor Terrace' 'Bensonhurst West' 'Kew Gardens'
 'Flatbush/Ditmas Park' 'Starrett City' 'Roosevelt Island' 'Bay Ridge'
 'Saint Albans' 'Pelham Parkway' 'Prospect Park' 'Jamaica'
 'Murray Hill-Queens' 'Stapleton' 'Maspeth' 'Dyker Heights'
 'Allerton/Pelham Gardens' 'Co-Op City' 'Belmont' 'Bensonhurst East'
 'Kew Gardens Hills' 'Crotona Park East' 'Van Cortlandt Village'
 'Springfield Gardens South' 'Corona' 'Brownsville' 'Red Hook' 'Bayside'
 'Van Nest/Morris Park' 'Gravesend' 'Oakland Gardens' 'Claremont/Bathgate'
 'Ocean Hill' 'Brighton Beach' 'Spuyten Duyvil/Kingsbridge'
 'Kingsbridge Heights' 'Soundview/Bruckner' 'Fresh Meadows' 'East Elmhurst'
 'Hunts Point' 'Cambria Heights' 'Whitestone'
 'East Flatbush/Remsen Village' 'Rosedale' 'Inwood Hill Park'
 'Bedford Park' 'Jamaica Estates' 'Borough Park' 'Flushing' 'Auburndale'
 'Bath Beach' 'Queensboro Hill' 'Morrisania/Melrose' 'Madison' 'Homecrest'
 'Eastchester' 'College Point' 'Brooklyn Navy Yard'
 'Marine Park/Mill Basin']

pickup_borough
['Manhattan' 'Queens' nan 'Bronx' 'Brooklyn']

dropoff_borough
['Manhattan' 'Queens' 'Brooklyn' nan 'Bronx' 'Staten Island']

In [90]:
for i in ['payment','pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough']:
    print('\"',i,'\"')
    print(taxis[i].value_counts())
    print('NaN',taxis[i].isnull().sum())
    print()

" payment "
credit card    4577
cash           1812
Name: payment, dtype: int64
NaN 44

" pickup_zone "
Midtown Center                  230
Upper East Side South           211
Penn Station/Madison Sq West    210
Clinton East                    208
Midtown East                    198
                               ...
Pelham Bay                        1
West Farms/Bronx River            1
Hunts Point                       1
Bayside                           1
Bensonhurst West                  1
Name: pickup_zone, Length: 194, dtype: int64
NaN 26

" dropoff_zone "
Upper East Side North    245
Murray Hill              220
Midtown Center           215
Upper East Side South    177
Midtown East             176
                        ...
West Brighton              1
Douglaston                 1
Brighton Beach             1
Morrisania/Melrose         1
Madison                    1
Name: dropoff_zone, Length: 203, dtype: int64
NaN 45

" pickup_borough "
Manhattan    5268
Queens        657
Brooklyn      383
Bronx          99
Name: pickup_borough, dtype: int64
NaN 26

" dropoff_borough "
Manhattan        5206
Queens            542
Brooklyn          501
Bronx             137
Staten Island       2
Name: dropoff_borough, dtype: int64
NaN 45

In [85]:
taxis.columns

Index(['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls',
       'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone',
       'pickup_borough', 'dropoff_borough'],
      dtype='object')

**.apply() аналог map() в pandas**

In [47]:
diamonds['cut'].apply(lambda x: x.lower())

0            ideal
1          premium
2             good
3          premium
4             good
           ...
53935        ideal
53936         good
53937    very good
53938      premium
53939        ideal
Name: cut, Length: 53940, dtype: object

In [43]:
diamonds.tail(10)

       carat        cut color clarity  depth  table  price     x     y     z
53930   0.71    Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71    Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53932   0.70  Very Good     E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good     E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53934   0.72    Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [157]:
diamonds.duplicated().sum()

146

In [159]:
diamonds = diamonds.drop_duplicates().reset_index(drop=True)

In [160]:
diamonds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53794 entries, 0 to 53793
Data columns (total 10 columns):
carat      53794 non-null float64
cut        53794 non-null object
color      53794 non-null object
clarity    53794 non-null object
depth      53794 non-null float64
table      53794 non-null float64
price      53794 non-null int64
x          53794 non-null float64
y          53794 non-null float64
z          53794 non-null float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [162]:
diamonds.carat.dtype

dtype('float64')

### Запуск Python в терминале

In [ ]:
!python --version

In [ ]:
>>> Python
>>> print('Hello world!')
>>> exit()

In [ ]:
import this